$primary: #EBE1D1;
$secondary: #41644A;
$warning: #f5863c;
$light: #FFFFFF;
$dark: #0D4715;
//example

@import "../../node_modules/bootstrap/scss/bootstrap";

.img-logo {
  height: 150px;
  width: 150px;
  margin: 5px;
  transition: all 0.5s;
}
.img-logo:hover {
  transform: scale(1.1);  
}
.img-login {
  height: 100px;
  width: 100px;
  margin: 5px;
  transition: all 0.5s;
}
.img-login:hover {
  transform: scale(1.1);  
}

.img-menu {
  height: 120px;
  width: 120px;
  margin: 5px;
  transition: all 0.5s;
}
.img-menu:hover {
  transform: scale(1.1);  
}

.profile-menu-container {
  position: relative; /* importante para que el menú se posicione relativo al icono */
  display: inline-block;  
}

.profile-menu {
  display: flex;           /* oculto por defecto */
  flex-direction: column;  /* los enlaces en columna */
  position: absolute;      /* se “despliega” sobre otros elementos */
  top: 100%;               /* justo debajo del icono */
  right: 0;                /* alineado a la derecha del contenedor */
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  height: 200px;
  font-size: 18px;
}

.profile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.profile-menu a:hover {
  background-color: #f0f0f0;
}
