$primary: #3C1053;
$secondary: #9d5baf;
$warning: #b75e00;
$color_texto_oscuro: black;
$color_fondo: #f3f2f1;
$link-color: #1d7bbf; //call to action

$Color_F_Claro: #F3F2F1;
$Color_Acc_ClaroINFORMATION: #84329B;
$font-family-sans-serif: 'MyFont', Arial, sans-serif;
$color_error: #D4351C;
$color_texto: #FFFFFF;
$color_txt_botones: rgb(60, 16, 83);
$font-weight_enlace: bold;

//example

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
  color: $primary;
}
a {
    color: $link-color !important;
    font-weight: bold;
}